.header {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align:center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 3em;
  color: var(--firstColor);
}

.header__icon {
  width: 25px;
  cursor: pointer;
}


@media screen and (min-width: 960px) {
  .header__title {
    font-size: 4em;
  }
}