.header {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align:center;
}

.header__title {
  font-size: 3em;
  color: var(--firstColor);
}


@media screen and (min-width: 960px) {
  .header__title {
    font-size: 4em;
  }
}