

.about {
  margin-top: 3em;
  background-color: var(--bgBody);

  box-shadow: 0 0 10px 0 var(--borderColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px;
}

.about a {
  text-decoration: none;
}

.about .about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
}



.about__text {
  height: 100%;
  padding: 1em;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title {
  font-size: 2em;
  padding-bottom: 0.5em;
  font-weight: 900;
}



.about__btn {
  height: 40px;
  padding: 0 1em;
  background-color: var(--firstColor);
  color: var(--textColorAlt);
  line-height: 40px;
  width: 200px;

  margin-top: 1em;
}

.about__btn:hover {
  background-color: var(--firstColorAlt);
}


@media screen and (max-width: 650px) {
    


  .about__text {
    padding: 1em;
  }

}


@media screen and (min-width: 960px) {

  .about {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;

  }

  .about__text__img {
      display: block;
      width: 100px;
      position: absolute;
      z-index: 10;
      bottom: 30px;
  }

}