
.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  color: var(--secondTextColor);
}



.markdown img, 
.markdown video {
	width: 100%;
	max-width: 100%;
	display: block;
	margin: 1em 0;
}

