.we-content {
  display: grid;
}

.we__institution {
  margin-bottom: 3em;

}

.we__institution .btn {
  margin-top: 1em;
  width: 100%;
}

.we__institution__title {
  font-size: 2em;
  text-transform: uppercase;
}



.we__institution__text img {
  width: 100%;
  margin-top: 1em;
}

.card__me__text {
  margin-top: 1em;
}

.card__me__text h4 {
  font-size: 1.5em;
}


 
.we__institution__aside h3 {
  font-size: 1.5em;
  margin-bottom: 1em; 
}




@media screen and (min-width: 960px) {      

  .we-content {
    grid-template-columns: 60% 30%;
    grid-column-gap:4em;
  }
 
}