
.accessibility {
  background-color: var(--bgFooter);
  color: var(--textColorAlt);

  position: fixed;
  top:25%;
  right: 0;
  z-index: 1000;
  text-align: center;
}

.accessibility__item {
  padding: .3em;
  cursor: pointer;
  width: 100%;

  text-align: center;
}

.accessibility__item:hover {
  background-color: var(--firstTextColor);
}

.accessibility__item img {
  width: 15px;
  display: inline-block;
}


@media screen and (max-width: 650px) {

  .accessibility {
    top: initial;
    bottom: 0;
    left: 0;
  }

  .accessibility__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

}
/*

@media screen and (min-width: 960px) {
  .accessibility {
    top: 0;
    right: 0;

  }
}*/